/* Configuração geral */
body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f0f8ff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

#jogo {
  max-width: 800px;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#parque {
  position: relative;
  width: 800px;
  height: 600px;
  margin: 0 auto;
  background: url("./imagem/fundo.png") no-repeat center/cover;
  overflow: hidden;
}

/* Áreas de Soltar */
.area-drop {
  position: absolute;
  /* width: 100px;
  height: 100px; */
  /*border: 2px dashed #aaa;  Apenas para visualização */
  /*background-color: rgba(0, 255, 0, 0.2); Cor leve para identificação */
  z-index: 0;
}

/* Posicionamento das áreas */
#area-antena1 {
  top: 61px;
  left: 224px;
}

#area-antena2 {
  top: 81px;
  left: 355px;
}

#area-antena3 {
  top: 72px;
  left: 503px;
}

#area-satelite {
  top: -9px;
  left: 612px;
}

#area-garota-notebook {
  top: 338px;
  left: 186px;
}

#area-poste {
  top: 338px;
  left: 13px;
}

#area-funcionario {
  top: 337px;
  left: 607px;
}

#imagem-fundo {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.posicao {
  background: #f0f0f0;
  border: 2px dashed #ccc;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  min-height: 80px;
  position: relative;
}

#itens {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.card-item {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-item.hidden span {
  display: none;
}

.card-item.hidden {
  display: none;
}

.item {
  width: 100px;
  height: 40px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: grab;
  font-size: 14px;
  text-align: center;
}

.item-antena {
  width: 100px;
  height: 80px;
  background-image: url("./imagem/antena1.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  /* border: 1px solid #ccc;
  border-radius: 8px; */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: grab;
  font-size: 14px;
  text-align: center;
}

.item-satelite {
  width: 100px;
  height: 80px;
  background-image: url("./imagem/satelite.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  /* border: 1px solid #ccc;
  border-radius: 8px; */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: grab;
  font-size: 14px;
  text-align: center;
}

.item-garota-notebook {
  width: 100px;
  height: 80px;
  background-image: url("./imagem/notebook.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  /* border: 1px solid #ccc;
  border-radius: 8px; */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: grab;
  font-size: 14px;
  text-align: center;
}

.item-poste {
  width: 100px;
  height: 80px;
  background-image: url("./imagem/poste.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  /* border: 1px solid #ccc;
  border-radius: 8px; */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: grab;
  font-size: 14px;
  text-align: center;
}

.item-funcionario {
  width: 100px;
  height: 80px;
  background-image: url("./imagem/funcionário.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  /* border: 1px solid #ccc;
  border-radius: 8px; */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: grab;
  font-size: 14px;
  text-align: center;
}

/* Tamanhos normais dos itens */
.item-drag {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 80px;
  cursor: grab;
  border-radius: 8px;
  margin: 10px;
}

/* Tamanhos ao ser movido para a área correta */
.item-antena.grande {
  width: 105px;
  height: 256px;
}

.item-satelite.grande {
  width: 171px;
  height: 152px;
}

.item-garota-notebook.grande {
  width: 91px;
  height: 250px;
}

.item-poste.grande {
  width: 33px;
  height: 201px;
}

.item-funcionario.grande {
  width: 98px;
  height: 236px;
}

.item.disabled {
  pointer-events: none;
  opacity: 0.5;
  /* Torna os itens desativados visivelmente diferentes */
}

#mensagem {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  #jogo {
    width: 100%;
  }

  #parque {
    width: 100%;
    height: 347px;
    margin: 0 auto;
    background: url(./imagem/fundo.png) no-repeat center / contain;
    overflow: hidden;
  }

  #itens {
    padding-top: 10px;
  }

  #area-antena1 {
    top: 60px;
    left: 220px;
  }

  #area-antena2 {
    top: 68px;
    left: 298px;
  }

  #area-antena3 {
    top: 64px;
    left: 386px;
  }

  .item-antena.grande {
    width: 61px;
    height: 123px;
  }

  #area-satelite {
    top: -5px;
    left: 452px;
  }

  .item-satelite.grande {
    width: 101px;
    height: 95px;
  }

  #area-garota-notebook {
    top: 192px;
    left: 198px;
  }

  .item-garota-notebook.grande {
    width: 50px;
    height: 138px;
  }

  #area-poste {
    top: 152px;
    left: 91px;
  }

  .item-poste.grande {
    width: 27px;
    height: 156px;
  }

  #area-funcionario {
    top: 175px;
    left: 450px;
  }

  .item-funcionario.grande {
    width: 60px;
    height: 149px;
  }

  .item-drag {
    width: 82px;
    height: 62px;
  }
}

@media screen and (max-width: 480px) {
  #jogo {
    width: 100%;
  }

  #parque {
    width: 100%;
    height: 303px;
    margin: 0 auto;
    background: url(./imagem/fundo.png) no-repeat center / contain;
    overflow: hidden;
  }

  #area-antena1 {
    top: 53px;
    left: 100px;
  }

  #area-antena2 {
    top: 61px;
    left: 159px;
  }

  #area-antena3 {
    top: 57px;
    left: 219px;
  }

  .item-antena.grande {
    width: 50px;
    height: 101px;
  }

  #area-satelite {
    top: 13px;
    left: 263px;
  }

  .item-satelite.grande {
    width: 87px;
    height: 83px;
  }

  #area-garota-notebook {
    top: 156px;
    left: 83px;
  }

  .item-garota-notebook.grande {
    width: 41px;
    height: 108px;
  }

  #area-poste {
    top: 127px;
    left: 6px;
  }

  .item-poste.grande {
    width: 21px;
    height: 119px;
  }

  #area-funcionario {
    top: 146px;
    left: 270px;
  }

  .item-funcionario.grande {
    width: 47px;
    height: 111px;
  }

  .item-drag {
    width: 82px;
    height: 62px;
  }
}
